# Summary Statistics of TTL Data

In [1]:
import pandas as pd

## Read in data as we did before, making sure to tell __`pandas`__ there are no headers, and setting __`na_values`__

In [2]:
data = pd.read_csv('data/agg_database_daily.csv', header=None, na_values=[r'\N'])

## Set the column headers appropriately

In [3]:
data.columns = ['date_key','datacenter','superpod','pod','max_redo_size','max_active_sessions','max_db_cpu_user','max_peak_buffer','avg_db_cpu_\
system','avg_db_cpu_user','total_db_size_in_tb','used_db_space_in_tb','free_db_space_in_tb','asm_free_db_space_in_tb','asm_used_db_space_in_t\
b','asm_total_db_size_in_tb','last_modified','asm_used_db_space_perc','oem_cpu_util','oem_read_io_latency']

## Take a look at the data

In [4]:
data.head()

,date_key,datacenter,superpod,pod,max_redo_size,max_active_sessions,max_db_cpu_user,max_peak_buffer,avg_db_cpu_system,avg_db_cpu_user,total_db_size_in_tb,used_db_space_in_tb,free_db_space_in_tb,asm_free_db_space_in_tb,asm_used_db_space_in_tb,asm_total_db_size_in_tb,last_modified,asm_used_db_space_perc,oem_cpu_util,oem_read_io_latency
0,20161031,WAS,SP3,na17,12.881275,87.00000,47.800000,1329935.50,2.383255,24.301150,59.996094,46.064330,13.931762,8.102020,51.894073,59.996094,2017-02-27 20:43:53.642455,NaN,NaN,NaN
1,20161025,CHI,SP2,cs15,65.872505,69.13125,30.184166,1189676.40,1.605119,14.272053,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-27 20:43:53.642455,NaN,NaN,NaN
2,20161031,CHI,SP4,cs40,30.010305,86.00000,22.050000,863386.70,1.165605,9.444780,106.871520,87.290870,19.580648,15.005844,91.865680,106.871520,2017-02-27 20:43:53.642455,NaN,NaN,NaN
3,20161031,WAS,SP3,na23,6.484551,72.00000,35.066666,1139595.20,1.797749,13.583612,59.996094,32.447983,27.548110,20.739609,39.256485,59.996094,2017-02-27 20:43:53.642455,NaN,NaN,NaN
4,20161031,PHX,SP1,na45,4.759383,50.00000,17.758333,744373.94,1.134943,9.120685,67.498900,26.249228,41.249672,30.199581,37.299320,67.498900,2017-02-27 20:43:53.642455,NaN,NaN,NaN

## We will use __`describe()`__ function to generate summary stats
* note that stats won't always make sense–e.g., __`count`__ makes sense for date_key but other statistics don't

In [5]:
data.describe()

,date_key,max_redo_size,max_active_sessions,max_db_cpu_user,max_peak_buffer,avg_db_cpu_system,avg_db_cpu_user,total_db_size_in_tb,used_db_space_in_tb,free_db_space_in_tb,asm_free_db_space_in_tb,asm_used_db_space_in_tb,asm_total_db_size_in_tb,asm_used_db_space_perc,oem_cpu_util,oem_read_io_latency
count,5.528600e+04,38846.000000,38846.000000,50913.000000,3.884600e+04,37819.000000,37819.000000,52335.000000,52335.000000,52335.000000,53500.000000,53500.000000,53500.000000,34282.000000,0.0,0.0
mean,2.016877e+07,18.932709,65.748682,1504.906890,5.613055e+05,22.360684,56.331809,122.823838,56.206925,66.625241,46.438498,69.732402,116.647926,60.186895,NaN,NaN
std,3.783661e+03,21.287179,30.065437,25605.315296,4.276236e+05,545.957954,1239.403321,69.365592,31.556244,67.042485,52.440699,43.662399,63.651427,26.168737,NaN,NaN
min,2.016091e+07,0.000000,1.121332,0.197738,2.160406e+00,0.103594,0.179869,0.135637,0.057656,0.897711,0.000000,0.000000,0.000000,0.888121,NaN,NaN
25%,2.017013e+07,8.699284,45.844625,12.048861,2.583129e+05,0.834971,5.106184,88.353620,35.460085,22.613297,9.426732,41.564629,85.100100,43.116276,NaN,NaN
50%,2.017052e+07,12.344738,61.769063,18.999514,4.475879e+05,1.247497,9.062411,109.680360,55.182960,44.410145,28.718376,67.714120,108.277725,62.979546,NaN,NaN
75%,2.017082e+07,18.546202,81.005310,29.516888,7.843281e+05,2.038925,16.287279,120.563340,75.976018,76.577395,58.705056,94.155122,119.853170,80.941653,NaN,NaN
max,2.017111e+07,582.626830,736.523800,759605.900000,9.341579e+06,30980.922000,73045.290000,362.250000,196.541090,339.055100,258.037350,294.924700,362.250000,289.839450,NaN,NaN

## Let's compute summary stats of __`max_active_sessions`__

In [6]:
# remember to drop non-existent data
data['max_active_sessions'].dropna().describe()

count    38846.000000
mean        65.748682
std         30.065437
min          1.121332
25%         45.844625
50%         61.769063
75%         81.005310
max        736.523800
Name: max_active_sessions, dtype: float64

## Let's compute summary stats of __`max_db_cpu_user`__

In [7]:
# look carefully at the result
data['max_db_cpu_user'].dropna().describe()

count     50913.000000
mean       1504.906890
std       25605.315296
min           0.197738
25%          12.048861
50%          18.999514
75%          29.516888
max      759605.900000
Name: max_db_cpu_user, dtype: float64

In [ ]:
data['total_db_size_in_tb'].dropna().describe()