# Exercise: Reading TTL Data

## Step 1: Read in __`agg_application_pod_hourly.csv`__ 
* as with the previous TTL data we examined, there are no column headers in the dataset
* if you get a __`DtypeWarning`__ about mixed types, figure out what's going on and how to fix

In [26]:
import pandas as pd
data=pd.read_csv('data/agg_application_pod_hourly.csv', header=None, na_values=[r'\N'])

## Step 2: Inspect the data...

In [27]:
data.head()

,7,20170121,LON,SP9,cs86,37.9803,7.938677,5.929535,0.79923624,\N,2017-02-27 20:38:10.59641,\N.1,\N.2
0,7,20170121,WAS,SP2,na4,69.257324,14.353811,11.269566,0.910468,\N,2017-02-27 20:38:10.59641,\N,\N
1,7,20170121,CHI,SP1,gs0,33.34111,17.466251,10.286361,1.25974,\N,2017-02-27 20:38:10.59641,\N,\N
2,7,20170121,CHI,SP3,cs23,62.84957,13.417571,9.052662,0.9806848,\N,2017-02-27 20:38:10.59641,\N,\N
3,7,20170121,LON,SP9,cs87,34.985798,7.71101,5.9022226,0.5106573,\N,2017-02-27 20:38:10.59641,\N,\N
4,7,20170121,CHI,SP3,na5,66.87769,13.307458,9.693862,0.75365007,\N,2017-02-27 20:38:10.59641,\N,\N

## Step 3: Set the names of the columns to 
__`hour_key, date_key, datacenter, superpod, pod, mem_utilization, max_app_cpu, avg_app_cpu, gc_perc, p95_app_cpu, last_modified, app_host_count_active, app_transacting_host_count`__
* Remember your Pythonâ€“you can use __`split()`__ to make this easier

In [28]:
header_str='hour_key, date_key, datacenter, superpod, pod, mem_utilization, max_app_cpu, avg_app_cpu, gc_perc, p95_app_cpu, last_modified, app_host_count_active, app_transacting_host_count'
data.columns=header_str.split(', ')
data.head()

,hour_key,date_key,datacenter,superpod,pod,mem_utilization,max_app_cpu,avg_app_cpu,gc_perc,p95_app_cpu,last_modified,app_host_count_active,app_transacting_host_count
0,7,20170121,WAS,SP2,na4,69.257324,14.353811,11.269566,0.910468,\N,2017-02-27 20:38:10.59641,\N,\N
1,7,20170121,CHI,SP1,gs0,33.34111,17.466251,10.286361,1.25974,\N,2017-02-27 20:38:10.59641,\N,\N
2,7,20170121,CHI,SP3,cs23,62.84957,13.417571,9.052662,0.9806848,\N,2017-02-27 20:38:10.59641,\N,\N
3,7,20170121,LON,SP9,cs87,34.985798,7.71101,5.9022226,0.5106573,\N,2017-02-27 20:38:10.59641,\N,\N
4,7,20170121,CHI,SP3,na5,66.87769,13.307458,9.693862,0.75365007,\N,2017-02-27 20:38:10.59641,\N,\N

## Step 4: inspect the column __`max_app_cpu`__

In [29]:
data['max_app_cpu']

0          14.353811
1          17.466251
2          13.417571
3            7.71101
4          13.307458
5           8.655704
6          5.2996435
7          15.303969
8           8.088383
9          13.510607
10           8.90862
11         11.102876
12          8.172059
13         12.451587
14         17.873167
15         12.917731
16         11.783527
17          8.032459
18         14.672307
19          10.86504
20          9.293353
21          8.562451
22         3.5422146
23         14.666316
24         11.689043
25         10.150902
26          8.559204
27         21.759249
28         6.8892612
29         6.8034983
             ...
1265885      3.55403
1265886      4.67057
1265887      6.33014
1265888      45.5736
1265889      23.4733
1265890      12.0349
1265891       22.708
1265892       8.2013
1265893      49.0949
1265894      5.20643
1265895      7.81769
1265896      4.09358
1265897       6.0503
1265898      29.5138
1265899      8.61067
1265900      7.08207
1265901        8.171
1265902      5.91703
1265903      9.80516
1265904       4.5648
1265905      10.8073
1265906      20.1258
1265907      14.3484
1265908      9.67202
1265909      7.16148
1265910      10.1075
1265911      5.26224
1265912       8.3489
1265913      5.41084
1265914      7.00907
Name: max_app_cpu, Length: 1265915, dtype: object

## Step 5: drop the missing data

In [31]:
data['max_app_cpu'].dropna().describe()

count     1265915
unique    1103027
top            \N
freq       149556
Name: max_app_cpu, dtype: object