# Exercise: Reading TTL Data

## Step 1: Read in __`agg_application_pod_hourly.csv`__ 
* as with the previous TTL data we examined, there are no column headers in the dataset
* if you get a __`DtypeWarning`__ about mixed types, figure out what's going on and how to fix

In [32]:
import pandas as pd
data=pd.read_csv('data/agg_application_pod_hourly.csv', header=None, na_values=[r'\N'])

## Step 2: Inspect the data...

In [33]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,7,20170121,LON,SP9,cs86,37.980300,7.938677,5.929535,0.799236,NaN,2017-02-27 20:38:10.59641,NaN,NaN
1,7,20170121,WAS,SP2,na4,69.257324,14.353811,11.269566,0.910468,NaN,2017-02-27 20:38:10.59641,NaN,NaN
2,7,20170121,CHI,SP1,gs0,33.341110,17.466251,10.286361,1.259740,NaN,2017-02-27 20:38:10.59641,NaN,NaN
3,7,20170121,CHI,SP3,cs23,62.849570,13.417571,9.052662,0.980685,NaN,2017-02-27 20:38:10.59641,NaN,NaN
4,7,20170121,LON,SP9,cs87,34.985798,7.711010,5.902223,0.510657,NaN,2017-02-27 20:38:10.59641,NaN,NaN

## Step 3: Set the names of the columns to 
__`hour_key, date_key, datacenter, superpod, pod, mem_utilization, max_app_cpu, avg_app_cpu, gc_perc, p95_app_cpu, last_modified, app_host_count_active, app_transacting_host_count`__
* Remember your Pythonâ€“you can use __`split()`__ to make this easier

In [34]:
header_str='hour_key, date_key, datacenter, superpod, pod, mem_utilization, max_app_cpu, avg_app_cpu, gc_perc, p95_app_cpu, last_modified, app_host_count_active, app_transacting_host_count'
data.columns=header_str.split(', ')
data.head()

,hour_key,date_key,datacenter,superpod,pod,mem_utilization,max_app_cpu,avg_app_cpu,gc_perc,p95_app_cpu,last_modified,app_host_count_active,app_transacting_host_count
0,7,20170121,LON,SP9,cs86,37.980300,7.938677,5.929535,0.799236,NaN,2017-02-27 20:38:10.59641,NaN,NaN
1,7,20170121,WAS,SP2,na4,69.257324,14.353811,11.269566,0.910468,NaN,2017-02-27 20:38:10.59641,NaN,NaN
2,7,20170121,CHI,SP1,gs0,33.341110,17.466251,10.286361,1.259740,NaN,2017-02-27 20:38:10.59641,NaN,NaN
3,7,20170121,CHI,SP3,cs23,62.849570,13.417571,9.052662,0.980685,NaN,2017-02-27 20:38:10.59641,NaN,NaN
4,7,20170121,LON,SP9,cs87,34.985798,7.711010,5.902223,0.510657,NaN,2017-02-27 20:38:10.59641,NaN,NaN

## Step 4: inspect the column __`max_app_cpu`__

In [36]:
data['max_app_cpu'].describe()

count    1.116360e+06
mean     1.180563e+01
std      7.355096e+00
min      0.000000e+00
25%      6.570135e+00
50%      9.981898e+00
75%      1.497794e+01
max      8.185169e+01
Name: max_app_cpu, dtype: float64

## Step 5: drop the missing data

In [37]:
data['max_app_cpu'].dropna().describe()

count    1.116360e+06
mean     1.180563e+01
std      7.355096e+00
min      0.000000e+00
25%      6.570135e+00
50%      9.981898e+00
75%      1.497794e+01
max      8.185169e+01
Name: max_app_cpu, dtype: float64